@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
html{
    background-image: url("background 3.jpg"); 
}

h1{
    color: white;
    font-size: 30px;
    
}
.center{
    color: black;
    text-align: center;
}

h2{
    color: black;
    font-size: 50px;
    font-family: fantasy;
}

